<!DOCTYPE html>
<html>
  <head>
    <title>CarSalesInventory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <% if user_signed_in? %>
      hi <%= current_user.user_type %> <br> 
      <%= link_to "Log out", destroy_user_session_path, method: :delete %> <br>
      <%= link_to 'Dealerships', dealerships_path if can? :manage, Dealership %> <br>
      <%= link_to 'Cars', cars_path if can? :read, Car %> <br>
    <% end %>

    <%= yield %>
  </body>
</html>
